/target
/mutants.out*
Cargo.lock
/tests/samples/.zig-cache
/fuzz/corpus/parse
/fuzz/target
/fuzz/artifacts/parse
/fuzz/target
/fuzz/corpus
/fuzz/artifacts
/fuzz/Cargo.lock
/fuzz/coverage
/fuzz/cov.profraw
/fuzz/cov.profdata
